body {
    background-color: black;
    font-family: Arial;
    padding: 0;
    margin: 0;
}
/*header*/
.header {
    text-align: left;
    background-color: hotpink;
    height: 5dvh;
}
#sitelogo {
    height: 4dvh;
    padding-top: 3px;
}
.titleBar {
    text-align: left;
    font-size: xx-large;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
}
.menu {
    height: 2dvh;
}
.leftColumn {   
    float: left;
    width: 5dvh;
    height: 100%;
  }
  
/* Right column */
.rightColumn {
    float: left;
    width: 95%;
    height: 100%;
    line-height: 3rem;
    height: 3rem;
}
/* Main Site */
.cardholder {
    position: relative;
    overflow: hidden;
    height: 50dvh;
    width: 30dhv;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20dvh;
    margin-bottom: 20dvh;
}
/* Responsive layout - when the screen is less than 1000px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .cardholder {
        width: 95%;
        height: 50dvh;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}
/* Cards */
.card {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}
.cardImageBox {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 80%;
}
.cardImage {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
.cardTextBox {
    color: white;
    width: 100%;
    height: 20%;
}
/* set initial z-index */
#card1 {
    z-index: 1;
}

#card2 {
    z-index: 2;
}
  
/* Footer */
.footer {
    text-align: center;
    font-size: xx-small;
    background: hotpink;
    height: 2dvh;
}