.productPane {
    width: 100%;
    color: var(--light-text-color);
}
.productImage {
    max-width: 15dvw;
    padding: 0.25rem;
}
.product {
    color: var(--light-text-color);
    font-size: 1.5rem;
    padding: 0.25rem;
}
.selector {
    height: 2rem;
    font-size: 1.5rem;
    margin-left: 1rem;
}