.productPane {
    height: 93dvh;
    width: 100%;
    overflow: scroll;
}
.productImage {
    max-width: 15dvw;
    max-height: 15dvh;
    padding: 0.25rem;
}
.product {
    color: var(--light-text-color);
    font-size: 1.5rem;
    padding: 0.25rem;
}
.selector {
    height: 3rem;
    font-size: 2rem;
}
.optionText  {
    font-size: 2rem;
}