/* Chat components */
.chatInput {
    height: 3.5rem;
    text-align: center;
}

/* chat bubbles */
.imageComment {
    position: relative;
    float: right;
    text-align: right;
    width: 80%;
    padding-right: 1dvw;
    margin-top: 1dvh;
    margin-right: 2dvw;
    margin-bottom: 1dvh;
}
.botComment {
    position: relative;
    float: right;
    text-align: right;
    width: 80%;
    background-color: dodgerblue;
    color: black;
    padding-right: 1dvw;
    margin-right: 2dvw;
    margin-bottom: 1dvh;
    border-radius: 0.5rem 1rem 0rem 0.5rem;
    font-size: 1.5rem;
}
.humanComment {
    position: relative;
    float: left;
    text-align: left;
    width: 80%;
    background-color: white;
    color: black;
    padding-left: 1dvw;
    margin-left: 2dvw;
    margin-bottom: 1dvh;
    border-radius: 1rem 0.5rem 0.5rem 0rem;
    font-size: 1.5rem;
}
textarea {
    border-radius: 0.5rem;
    width: 80%;
    height: 10dvh;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    color: var(--dark-text-color);
    resize: none;
    font-size: 1.5rem;
}

.productImage {
    height: 40dvh;
    max-width: 98%;
}