/* Main Site */
.tableGrid {
    position: relative;
    height: 53dvh;
    width: 60dvw;
    margin-left: 10dvw;
    margin-right: 10dvw;
    margin-top: 20dvh;
    margin-bottom: 20dvh;
    background-color: var(--main-bg-color);
}
.tableCell {
    text-align: center;
    color: var(--light-text-color);
    font-size: x-large;
}
.gridImage {
    max-width: 20dvw;
    max-height: 20dvh;
}
.gridLink {
    color: var(--light-text-color);
    text-decoration: none;

}
/* Responsive layout - when the screen is less than 1000px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .tableGrid {
        width: 95%;
        height: 89dvh;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 2dvh;
        margin-bottom: 2dvh;
    }
}
  
