.productPane {
    width: 100%;
    font-size: 1.5rem;
    color: var(--light-text-color);
}
.productImage {
    height: 40dvh;
    margin: 0.5rem;
}
.attributeImage {
    text-align: center;
    width: 100%;
}