:root {
    --main-bg-color: black;
    --main-accent-color: hotpink;
    --light-text-color: white;
    --dark-text-color: black;
}
/* Body */
body {
    background-color: var(--main-bg-color);
    font-family: Arial;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}
/* Header */
.header {
    color: var(--dark-text-color);
}

/* Header Table */
.headerTable {
    width: 100%;
    border-collapse: collapse;
}
.siteLogoCell{
    width: 3.5rem;
    background-color: hotpink;
}
#sitelogo {
    padding: 0.25rem;
    height: 3rem;
    width: 3rem;
}
.titleCell{
    width: 20rem;
    text-align: left;
    font-size: 3rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: hotpink;
}
.loginboxCell{
    width: auto;
    text-align: right;
    background-color: hotpink;
    font-size: 2rem;
    padding: 0.75rem;
}
.tableRow {
    height: 3.5rem;
    border: 0;
}