:root {
    --main-bg-color: black;
    --main-accent-color: hotpink;
    --light-text-color: white;
    --dark-text-color: black;
}
/* Body */
body {
    background-color: var(--main-bg-color);
    font-family: Arial;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
}

/* Header */
.header {
    background-color: var(--main-accent-color);
    height: 3.5rem;
    display: flex;
    color: var(--dark-text-color);
}
.leftColumn {
    width: 3.5rem;
    height: 100%;
}
.middleColumn {
    width: 65dvw;
    height: 100%;
}
.rightColumn {
    width: 30dvw;
    height: 100%;
    text-align: right;
    font-size: 2rem;
    padding: 0.75rem;
}

/* Header Content */
#sitelogo {
    padding: 0.25rem;
    height: 3rem;
    width: 3rem;
}
.titleBar {
    text-align: left;
    font-size: 3rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: var(--light-text-color);
    padding: 0.25rem;
}